@font-face {
    font-family: 'andala mono';
    src: url('../lib/font/Andale-Mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* 
{ 
    box-sizing: border-box; 
    font-family: "andala mono";
}
body
{
    background-color: #F3F3F3;
    padding: 3em 0; 
    
}
a
{
    text-decoration-line: none;
}
/*navigatie*/
nav
{
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #C4C4C4;
    justify-content: center;
}
.logo
{
   cursor: pointer;
   grid-area: 1/2;
   align-self: center;
   justify-self: center;
}
.logo img
{
    width: 90px;
}
.back{
    grid-area: 0/1;
    width: 20px;
    align-self: center;
    justify-self: center;
}
.close{
    grid-area: 0/1;
    width: 20px;
    align-self: center;
    justify-self: center;
}
.settings
{
    grid-area: 1/3;
    width: 30px;
    align-self: center;
    justify-self: center;
}
.pageTitle
{
   grid-area: 1/2;
   align-self: center;
   justify-self: center;
   font-size: 1.2em;
}
/*index en ooggetuigen*/
.buttons
{
    display: grid; 
    grid-template-columns: 60%;
    grid-template-rows: 20% 20% 20% 20%;
    justify-content: center;
    align-content: center;
    grid-row-gap: 15px;
    margin-top: 15px; 
}
/*index*/
.buttons__main__helpmij
{
    background-color: #FF0000;
    text-align: center;
    padding: 10px 40px 10px 40px;
    border-radius: 25px;
    color: #FFF;
    align-self: center;
    border: 0px;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.buttons__main__helpmij img
{
    padding-top: 10px;
    width: 80%;
}    
.buttons__main__hulpbieden
{
    background-color: #F3F3F3;
    text-align: center;
    padding: 10px 30px 0 30px;
    border-radius: 25px;
    color: #FF0000;
    width: 90%;
    justify-self: center;
    height: 117px;
    align-self: center;
}
.buttons__main__hulpbieden img
{
    padding-top: 10px;
    width: 30%;
} 
.form__main__helpmij
{
    justify-self: center;
    align-self: center;
    text-align: center;
}
.buttons__main__melden
{
    background-color: #F3F3F3;
    text-align: center;
    padding: 10px 30px 0 30px;
    border-radius: 25px;
    color: #FF0000;
    width: 90%;
    height: 117px;
    border: 0px;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.buttons__main__melden img
{
    padding-top: 10px;
    width: 30%;
}     
.buttons__main__ooggetuigen
{
    background-color: #F3F3F3;
    text-align: center;
    padding: 10px 30px 0 30px;
    border-radius: 25px;
    color: #FF0000;
    width: 90%;
    height: 117px;
    justify-self: center;
    align-self: center;
}
.buttons__main__ooggetuigen img
{
    padding-top: 10px;
    width: 80%;
}
/*ooggetuigen*/
.buttons__main__instructies
{
    background-color: #F3F3F3;
    text-align: center;
    padding: 10px 30px;
    border-radius: 25px;
    color: #FF0000;
    width: 90%;
    height: 117px;
    justify-self: center;
    align-self: center;
}
.buttons__main__instructies img
{
    padding-top: 10px;
    width: 50%;
}  
.buttons__main__voicechat
{
    background-color: #F3F3F3;
    text-align: center;
    padding: 10px 30px;
    border-radius: 25px;
    color: #FF0000;
    width: 90%;
    height: 117px;
    justify-self: center;
    align-self: center;
}
.buttons__main__voicechat img
{
    padding-top: 10px;
    width: 30%;
}  
.buttons__main__videochat
{
    background-color: #F3F3F3;
    text-align: center;
    padding: 10px 30px;
    border-radius: 25px;
    color: #FF0000;
    width: 90%;
    height: 117px;
    justify-self: center;
    align-self: center;
}
.buttons__main__videochat img
{
    padding-top: 10px;
    width: 60%;
}
/*settings*/
.setting
{
    text-align: center;
}
.setting input
{
    text-align: center;
    width: 290px;
    border: 0px;
    padding: 15px;
    background-color: #F3F3F3; 
    margin: 5px 0px 0 0;
    border-radius: 25px;
}
.setting select
{
    text-align: center;
    width: 290px;
    border: 0px;
    padding: 15px;
    background-color: #F3F3F3; 
    margin: 5px 0px;
    border-radius: 25px;
}
.btn__opslaan
  {
      text-align: center;
      background-color: #485059;
      color: #F3F3F3;
      padding: 10px 15px;
      border: 0px;
      border-radius: 25px;
      margin-top: 25px;
  }
  .lbl_switch
  {
    display: grid;

  }
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FF0000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .center{
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

  }
  .center label{
      padding: 0 5px;
  }
  
  input:checked + .slider {
    background-color: #138F49;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #138F49;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /*camera*/
  #snap
  {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      background-color: #485059;
      color: #F3F3F3;
      padding: 10px 15px;
      border: 0px;
      border-radius: 25px;
  }
  #tryAgain
  {
      text-align: center;
      background-color: #485059;
      color: #F3F3F3;
      padding: 10px 15px;
      border: 0px;
      border-radius: 25px;
  }
  #save
  {
      text-align: center;
      background-color: #485059;
      color: #F3F3F3;
      padding: 10px 15px;
      border: 0px;
      border-radius: 25px;
  }
  .description
  {
      margin: 15px 15px;
  }
  .description label
  {
      display: none;
  }
  .description textarea
  {
      background-color: #F3F3F3;
      border: none;
      border-radius: 25px;
      padding: 10px;
  }
  #send
  {
      text-align: center;
      background-color: #485059;
      color: #F3F3F3;
      padding: 10px 15px;
      border: 0px;
      border-radius: 25px;
  }
  .hidden{
      display: none;
  }
  .meldingInfo
  {
      background-color: #C4C4C4;
      color: #fff;
      padding: 15px;
  }
  .melding
  {
      border: 1px solid #485059;
      margin-bottom: 10px
  }
  .red
    {
    color: #FF0000;
    }
.img_done
    {
        width: 80%;
        margin-top: 5px;
        margin-bottom: 75px;
    }
.btn_done 
{
    text-align: center;
      background-color: #485059;
      color: #F3F3F3;
      padding: 10px 15px;
      border: 0px;
      border-radius: 25px;
      margin-top: 25px;
}
 /*mapdetail*/
 .info__details
 {
     text-align: left;
     padding-left: 50px
 }
.buttons__details
{
    display: grid; 
    grid-template-columns: 40% 40%;
    grid-template-rows: 20% 20% 20% 20%;
    justify-content: center;
    align-content: center;
    grid-row-gap: 15px;
    margin-top: 15px; 
}
.buttons__details__route
{
    background-color: #F3F3F3;
    text-align: center;
    padding: 10px 30px;
    border-radius: 25px;
    color: #485059;
    width: 90%;
    height: 90px;
    justify-self: center;
    align-self: center;
}   
.buttons__details__bel
{
    background-color: #F3F3F3;
    text-align: center;
    padding: 10px 30px;
    border-radius: 25px;
    color: #485059;
    width: 90%;
    height: 90px;
    justify-self: center;
    align-self: center;
}  
.buttons__details__onderweg
{
    text-align: center;
      background-color: #485059;
      color: #F3F3F3;
      padding: 10px 15px;
      border: 0px;
      border-radius: 25px;
      margin-top: 25px;
      width: 90%;
      justify-self: center;
        align-self: center;
}
.buttons__details__hulp
{
    text-align: center;
      color: #485059;
      padding: 10px 15px;
      border: 1px solid #485059;
      border-radius: 25px;
      margin-top: 25px;
      width: 90%;
      justify-self: center;
        align-self: center;
}
.buttons__details__route img
{
    padding-top: 0px;
    width: 100%;
}
.buttons__details__bel img
{
    padding-top: 0px;
    width: 80%;
}
  .canvas{
    width: 375px;
    min-height: 600px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    padding: 0 0 1em 0;
  }